{{ define "main" }}
<section class="feed wrap" id="post-feed">
  {{ $posts := where .Site.RegularPages "Section" "posts" }}
  {{ range $i, $post := $posts.ByDate.Reverse }}
    <article class="post {{ if ge $i 4 }}post-hidden{{ end }}">
      <div class="post-date">{{ $post.Date.Format "02 Jan 2006" }}</div>
      <h1><a href="{{ $post.RelPermalink }}">{{ $post.Title }}</a></h1>
      <p class="preview">{{ with $post.Description }}{{ . }}{{ else }}{{ $post.Summary | plainify | truncate 220 }}{{ end }}</p>
    </article>
  {{ end }}
  <div id="load-more" class="load-more" aria-hidden="true"></div>
</section>
{{ end }}
